<section class="wrapper">
    <div class="formWrapper">
        <h1>User Sign-Up</h1>
        <form [formGroup]="signUpForm">
            <app-notes-group [control]="'username'" [label]="'Username'" [type]="'text'" [formGroup]="signUpForm"></app-notes-group>
            <app-notes-group [control]="'uname'" [label]="'Full Name'" [type]="'text'" [formGroup]="signUpForm"></app-notes-group>
            <app-notes-group [control]="'password'" [label]="'Password'" [type]="'password'" [formGroup]="signUpForm"></app-notes-group>
            <button mat-flat-button color="primary" (click)="save()">Signup</button>
        </form>
        <p>Already have an account? <a routerLink="/login" >Login</a></p>
    </div>
</section>

