<section class="wrapper">
    <div class="formWrapper">
        <h1>User Login</h1>
        <form [formGroup]="loginForm">
            <app-notes-group [control]="'username'" [label]="'Username'" [type]="'text'" [formGroup]="loginForm"></app-notes-group>
            <app-notes-group [control]="'password'" [label]="'Enter your password'" [type]="'password'" [formGroup]="loginForm"></app-notes-group>
            <button  type="submit" mat-flat-button color="primary" (click)="auth()">Login</button>
        </form>
        <p>Don't have an account? <a routerLink="" >Sign Up</a></p>
    </div>
</section>